#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}

body {
    background-image: url(wallpaper.jpg);
    margin: 0%;
}

#imagem-1 {
    width: 500px;
}

#nav {
    color: black;
}

#fatos-interessantes {
    text-align: center;
    font-family: monospace;
    color: navy;
}

article {
    color: navy;
}

img {
    margin-left: 400px;
}

#informacoes {
    color:navy;
    text-align: center;
}

p {
    color: blue;
}

#lista-informacoes {
    color: aqua;
}

#foto-fatos {
    width: 500px;
    margin-right: 400px;
}